<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>
<body>
    <header class="container-fluid">
        <div class="logo-container">
            <a class="logo" >
                <img src="https://dewey.tailorbrands.com/production/brand_version_mockup_image/346/2910397346_205c9c80-628a-421c-89e6-7cc292ffd76f.png?cb=1587836895" alt="">
            </a>
        </div>        
        <nav class="navbar">
            <ul>
                <li><a class="active" href="#home">Home</a></li>
                <li><a href="#news">Store</a></li>
                <li><a href="#contact">About us</a></li>
                <li><a href="#about">Contact</a></li>
                <li><a href="#about">Login/Register</a></li>
              </ul>
        </nav> 
    </header>
    
    <div class="banner">
        <div class="img-container">
            <img src="https://irp-cdn.multiscreensite.com/554392e0/dms3rep/multi/photo-1543253464-213ff7db5ce7.jpg" alt="">
            <div class="slogan-container">
                <h1 class="title">Sweet Baby</h1>    
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, ea!</p>    
            </div>            
        </div>        
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="articule">
                    <img src="https://picsum.photos/300/200?grayscale" alt="">
                    <div class="info-articule">
                        <h3>Butacas</h3>
                        <button type="submit" class="btn btn-primary">VER MÁS</button>
                    </div>                    
                </div>                
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="articule">
                    <img src="https://picsum.photos/300/200?grayscale" alt="">
                    <div class="info-articule">
                        <h3>Juguetes</h3>
                        <button type="submit" class="btn btn-primary">VER MÁS</button>
                    </div>                    
                </div>  
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="articule">
                    <img src="https://picsum.photos/300/200?grayscale" alt="">
                    <div class="info-articule">
                        <h3>Cochecitos</h3>
                        <button type="submit" class="btn btn-primary">VER MÁS</button>
                    </div>                    
                </div>   
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="articule">
                    <img src="https://picsum.photos/300/200?grayscale" alt="">
                    <div class="info-articule">
                        <h3>Ropa</h3>
                        <button type="submit" class="btn btn-primary">VER MÁS</button>
                    </div>                    
                </div>    
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="articule">
                    <img src="https://picsum.photos/300/200?grayscale" alt="">
                    <div class="info-articule">
                        <h3>Accesorios</h3>
                        <button type="submit" class="btn btn-primary">VER MÁS</button>
                    </div>                    
                </div>   
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="articule">
                    <img src="https://picsum.photos/300/200?grayscale" alt="">
                    <div class="info-articule">
                        <h3>Colechos y Practicunas</h3>
                        <button type="submit" class="btn btn-primary">VER MÁS</button>
                    </div>                    
                </div>    
            </div>

        </div>        
    </div>
    
    
</body>
</html>