<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>
<body>
    <header class="container-fluid">
        <div class="logo-container">
            <a class="logo" href="index.html">
                <img src="./img/Logo SweetBaby2.png" alt="">
            </a>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto " >
                    <li class="nav-item active"><a class="active nav-link" href="#home">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#news">Store</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">About us</a></li>
                    <li class="nav-item"><a class="nav-link" href="#about">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="sign-in.html">Login/Register</a></li>
                    <li class="nav-item"></li>                    
                </ul>
            </div>            
            <div class="header-icons">
                <a class="nav-link" href="carrito.html" rel="nofollow">
                    <span id="cart-icon">
                         <img src="./img/carrito.svg">
                         <span class="header-icons-amount">1</span>
                     </span>
                 </a>
            </div>
        </nav> 
    </header>

    <main>
        <div class="container">
            <div class="sing-in">
                <section id="form">       
                    <form  action="">
                        <label for="">Nombre</label>
                        <input type="text" id="nombre"  placeholder="Tu Nombre">
                        <label for="">Apellido</label>
                        <input type="text" id="apellido" placeholder="Tu Apellido"> <br>  
                        <label for="">Email</label>
                        <input type="email" id="email" placeholder="Tu email" required>  
                        <label for="">  Repetir Email</label>
                        <input type="email" id="email" placeholder="Tu email" required><br>
                        <input type="checkbox" name="boletin-noticias" value="acorde" id="Boletin-noticias"> Boletin de Noticias <br>
                        <label for="">Contraseña</label>
                        <input type="password" id="password" placeholder="Tu Contraseña">   
                        <label for="">Repetir Contraseña</label>
                        <input type="password" id="password" placeholder="Repetir Contraseña"> <br>
                        <input type="checkbox" name="aceptar-condiciones" value="acepta" id="aceptar-condiciones"> Aceptar Condiciones <br>
                        <input type="submit" id="enviar" value="enviar" required>
                    </form>
                </section>
            </div>    
        </div>
    </main>
    
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-2 col-md-3">
                    <img class="footer-logo" src="./img/Logo SweetBaby2.png" alt="">
                </div>
                <div class="col-lg-3 col-sm-2 col-md-3">
                    <h3>Contactanos</h3>
                    <ul>
                        <li><i class="fa fa-phone"></i>  +54 11 2250 5577</li>
                        <li><i class="fab fa-whatsapp"></i>   1122505577</li>
                        <li><i class="fa fa-envelope"></i> ventas@sweetbaby.com</li>    
                        <li><i class="fa fa-map-marker"></i> Uspallata 2953, C.A.B.A.</li>
                    </ul>
                    <span>Lunes a Jueves: 10 a 19hs. Viernes: 10 a 16hs. Domingo: 13.30 a 19hs. Feriados: consultar</span>
                </div>
                <div class="col-lg-2 col-sm-2 col-md-2">
                    <h3>Síguenos</h3>
                    <p>
                        <a href="#">
                            <img src="./img/face.png" alt="face" width="40" height="40">&nbsp;
                        </a>
                        <a href="#">
                            <img src="./img/insta-1.png" alt="insta" width="40" height="40">
                        </a>
                    </p>   
                </div>
                <div class="col-lg-4 col-sm-2 col-md-3">
                    <h3>Suscribete a nuestro Newsletter</h3>
                    <p>Recibí todas las novedades de eventos y promociones</p>
                    <div class="subscribe">
                        <div class="input-box">
                           <input type="text" name="email" id="newsletter" title="Suscríbase a nuestro boletín de noticias" class="input-text required-entry validate-email">
                        </div>
                        <div class="actions">
                            <button type="submit" title="Suscribirse" class="button">
                                <span>
                                    <span>Suscribirse</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>                
            </div>            
        </div>
    </footer>

    <script defer src="../../fontawesome-free-5.13.0-web/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>





