<header class="container-fluid">
    <div class="logo-container">
        <a class="logo" >
            <img src="https://dewey.tailorbrands.com/production/brand_version_mockup_image/346/2910397346_205c9c80-628a-421c-89e6-7cc292ffd76f.png?cb=1587836895" alt="">
        </a>
    </div>        
    <nav class="navbar">
        <ul>
            <li><a class="active" href="#home">Home</a></li>
            <li><a href="#news">Store</a></li>
            <li><a href="#contact">About us</a></li>
            <li><a href="#about">Contact</a></li>
            <li><a href="#about">Login/Register</a></li>
          </ul>
    </nav> 
</header>