<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-2 col-md-3">
                <img class="footer-logo" src="/images/Logo SweetBaby2.png" alt="">
            </div>
            <div class="col-lg-3 col-sm-2 col-md-3">
                <h3>Contactanos</h3>
                <ul>
                    <li><i class="fa fa-phone"></i>  +54 11 2250 5577</li>
                    <li><i class="fab fa-whatsapp"></i>   1122505577</li>
                    <li><i class="fa fa-envelope"></i> ventas@sweetbaby.com</li>    
                    <li><i class="fa fa-map-marker"></i> Uspallata 2953, C.A.B.A.</li>
                </ul>
                <span>Lunes a Jueves: 10 a 19hs. Viernes: 10 a 16hs. Domingo: 13.30 a 19hs. Feriados: consultar</span>
            </div>
            <div class="col-lg-2 col-sm-2 col-md-2">
                <h3>Síguenos</h3>
                <p>
                    <a href="#">
                        <img src="/images/face.png" alt="face" width="40" height="40">&nbsp;
                    </a>
                    <a href="#">
                        <img src="/images/insta-1.png" alt="insta" width="40" height="40">
                    </a>
                </p>   
            </div>
            <div class="col-lg-4 col-sm-2 col-md-3">
                <h3>Suscribete a nuestro Newsletter</h3>
                <p>Recibí todas las novedades de eventos y promociones</p>
                <div class="subscribe">
                    <div class="input-box">
                       <input type="text" name="email" id="newsletter" title="Suscríbase a nuestro boletín de noticias" class="input-text required-entry validate-email">
                    </div>
                    <div class="actions">
                        <button type="submit" title="Suscribirse" class="button">
                            <span>
                                <span>Suscribirse</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>                
        </div>            
    </div>
</footer>
    


<script type="text/javascript" src="/scripts/validateScript.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script type="text/javascript" src="/scripts/scriptActivate.js"></script>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>