.titulo{
    background-color:#dffafa;
    border-bottom: 1px solid  rgb(97, 94, 94);
    width: 100%;
    margin-bottom: 5px;
 
    color: rgb(97, 94, 94);
       
}
.division1{
    
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid rgb(97, 94, 94);
    flex-direction: column;
    margin-top: 20px;  
    
}
.division2{
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    flex-direction: column;
    margin-top: 20px;
    align-content: space-between;
}
.bodyCargaProductos{
    background-color: white;
    color: rgb(109, 87, 189);
    font-size: 15px;
}

.barraBotones{
    margin-top: 15px;
    margin-left: 3%;
    margin-right: 3%;
    display: block;
}
.inputTexto{

  height: calc(1em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 70%;
}
.inputNumerico{
      
    height: calc(1em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.20s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 50%;
  }
  .select{
      width: 70%;
      height: calc(1,1em + 0.75rem + 2px);
      
  }

  
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 5px;
    margin-left: 3px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  textarea {
    width: 90%;
  }
  h4{
    padding-top: 5px;
  }

 
  
  