<!-- Include Head -->
<%- include('partials/head', {title: 'Registro'}) %>
<body>
    <!-- Header -->
    <%- include('partials/headerNavbar') %>
    <!-- /Header -->  
    
    <main>
        <div class="container">
            <% if(error) { %>
                <div class="card text-white bg-danger">
                    <div class="card-body">
                        <h2 class="card-title"><%=error%></h2>
                    </div>
                </div>
            <% } %>
            <div class="card">
                <div class="card-body row">
                    <div class="col-6 registro">
                        <div class="card-header text-center">
                            <h2>Registro</h2>
                        </div>
                        <form action="/user/register" method="GET">
                            <div class="card-body cart-section">

                                <div class="row cart-container">
                                    <div class="col-lg-6 col-sm-12 cart-item">
                                        <h5 class="card-title" for="">Unete</h5>
                                        <!-- <input type="text" name="firstName" id="firstName" placeholder="Nombre" required> -->
                                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque repudiandae, exercitationem, velit ab molestiae odio eligendi corporis ea cupiditate assumenda consequuntur unde, quasi placeat commodi harum nesciunt veniam inventore quae voluptate. Architecto ipsam, odit in aspernatur voluptatum ad ipsum a hic dicta quas quasi rerum neque maxime doloribus quos voluptatem.</p>
                                    </div>
                                </div>

                                <div class="row cart-container">
                                    <button type="submit" class="btn btn-primary" id="Enviar-button" required>Regístrate</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-6 loggin">
                        <div class="card-header text-center">
                            <h2>Ingresar</h2>
                        </div>
                        <form action="/user/login" method="POST">
                            <div class="card-body cart-section">
                                <div class="row cart-container">
                                    <div class="col-lg-12 col-sm-12 cart-item">
                                        <h5 class="card-title" for="">Email</h5>
                                        <input type="email" name="email" id="email" placeholder="ejemplo@gmail.com" required>
                                    </div>
                                </div>   
                                <div class="row cart-container">
                                    <div class="col-lg-12 col-sm-12 cart-item">
                                        <h5 class="card-title" for="">Contraseña</h5>
                                        <input type="password" name="password" id="password" placeholder="Contraseña" required>
                                    </div>
                                </div>
                                <div class="row cart-container">
                                    <div class="col-lg-12 col-sm-12 cart-item-noBr">
                                        <input type="checkbox" name="recordame" value="onLogOn" id="recordame">  
                                        <label class="card-title" for="recordame">Permanecer Conectado</label>                                        
                                    </div>
                                </div>
                                <div class="row cart-container">
                                    <button type="submit" class="btn btn-primary" id="Enviar-button"required >Iniciar sesión</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>            
        </div>
    </main>
    <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>
</html
