<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="../public/scripts/bootstrap.js">
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="../public/stylesheets/styleCargaProd.css   ">
    <link rel="stylesheet" href="../../fontawesome-free-5.13.0-web/css/all.css">  
   

    <title>Carga de Productos</title>
</head>
<body class = "bodyCargaProductos"> 
    
    <header class="container-fluid">               
        <div class="logo-container">
            <a class="logo" href="index.html">
                <img src="./img/Logo SweetBaby2.png" alt="">
            </a>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto ">
                    <li class="nav-item active"><a class="active nav-link" href="#home">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#news">Store</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">About us</a></li>
                    <li class="nav-item"><a class="nav-link" href="#about">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="sign-in.html">Login/Register</a></li>
                    <li class="nav-item"></li>                    
                </ul>
            </div>            
            <div class="header-icons">
                <a class="nav-link" href="carrito.html" rel="nofollow">
                    <span id="cart-icon">
                         <img src="./img/carrito.svg">
                         <span class="header-icons-amount">1</span>
                     </span>
                 </a>
            </div>
        </nav> 
        </header>

    <div class="titulo container-fluid">
        <h4>Carga de Productos:</h4>
    </div>
<div class=" main container-fluid">
    <form action="resultado.html" method="POST" enctype="multipart/form-data">
      
        
<div class="row">

        <div class="col-lg-6 col-md-8 col-sm-12 division1">
                <div class="row">
                    <div class = "col-4">
                        <label  for="nombre">Categoria:</label> 
                    </div>  
                    <div class="col-8">               
                        <select  class= "custom-select select" name="categoria" id= "" required>
                            <option value="Bu">Butacas</option>
                            <option value="Ju">Juguetes</option>
                            <option value="Co">Cochecitos</option>
                            <option value="Ro">Ropa</option>   
                            <option value="Ac">Accesorios</option>   
                            <option value="Cl">Colechos y Practicunas</option>       
                        </select>  
                    </div> 
                                                 
                </div>
                <br>
            
                <div class="row"> 
                    <div class="col-4" >
                         <label for="nombre">Descripcion Corta:</label>
                    </div>
                    <div class="col-8">
                        <input class="inputTexto" type="text"  id="nombre" name = "nombre"  required> 
                    </div>                  
                </div>

                <div class="row">
                    <div class="col-4">
                        <label for="precioVenta">Precio de Venta:</label>
                    </div>
                    <div class="col-8">
                        <input class="inputNumerico" type="number"  id="precioVenta" name = "precioVenta" required>
                    </div>
                </div>

                <div class="row">
                    <div class= "col-4">
                        <label  for="precioCompra">Precio de Compra:</label>
                    </div>
                    <div class="col-8">
                        <input class=" inputNumerico"  type="number"  id="precioCompra" name = "precioCompra" required>   
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <label  for="fechaAlta">Fecha de alta:</label>
                    </div>
                    <div class="col-8">
                        <input class=" inputNumerico"  type="date"  id="fechaAlta" name = "fechaAlta" required>
                    </div>
                </div>

                <div class="row">
                    <div class = "col-4">
                        <label  for="stock">Stock:</label>
                    </div>
                    <div class="col-8">
                        <input class="inputNumerico"  type="number"  id="stock" name = "stock" required>   
                    </div>             
                </div>
                <br>
                <div class="row">
                    <div class="col-4">
                        <label  for="dispCuotas">Disponible en cuotas:</label>
                    </div>
                    <div class="col-8">
                        <input  type="radio" name="dispCuotas" id="si" value="s" checked> <label for="si" >Sí</label>
                        <input type="radio" name="dispCuotas" id="no" value="n"> <label for="no">No</label>
                    </div>
                </div>

                <div class="row">    
                    <div class="col-4" >          
                        <label for="oferEfect">Descuento en efectivo:</label>
                    </div> 
                    <div class="col-8">
                            <input type="radio" name="oferEfect" id="si" value="s"> <label for="si" >Sí</label>
                            <input type="radio" name="oferEfect" id="no" value="n" checked> <label for="no">No</label>
                    </div>
                </div>
           
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 division2">

          <div class="row">
                <div class="col-4">
                    <label for="">Descripcion del Producto:</label>
                </div>
                <div class="col-8">
                     <textarea class="rounded" name ="descripcion" id = "" cols = "40" rows= "5"value="descripcion"> </textarea>
                </div>
         </div>

          <div class="row">
              <div class="col-4">
                <label for="">Informacion Adicional:</label></p>
              </div>
              <div class="col-8">
                 <textarea class="rounded" name ="infoAdi" id = "" cols = "40" rows= "5"value="infoAdi"> </textarea>
              </div>
          </div>

          <div class="row">
              <div class="col-4">
                 <label for="">Añadir Imagenes:</label> 
              </div>
              <div class="col-8">
                 <input name="uploadImg[]" type="file" accept="application/pdf, .jpg" multiple  /> 
              </div>
          </div>
            
          </div>
        </div>
     </div>   

        <div class="barraBotones">
            <p> 
            <input class="btn btn-primary" type="submit" value="Guardar">
            <!-- <input class="btn btn-success" type="submit" value="+Nuevo">-->
            <input class="btn btn-danger" type="submit" value="Eliminar">
             </p>
        <div>
    </form>

    <div>
        <table class="table table-striped table-bordered">
            <thead class= "thead-dark">
            <tr>
                <th scope="col">Cod</th>
                <th scope="col">Categoria</th>
                <th scope="col">Descripcion Corta</th>
                <th scope="col">P.Venta</th>
                <th scope="col">P.Compra</th>
                <th scope="col">F.Alta</th>
                <th scope="col">Stock</th>
                <th scope="col">Cuotas</th>
                <th scope="col">Descuento</th>
                <th scope="col">Img</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Cochecitos</td>
                <td>Cochecito Duck Legend hasta 20kg</td>
                <td>5000</td>
                <td>3000</td>
                <td>04/04/2020</td>
                <td>10</td>
                <td>S</td>
                <td>N</td>
                <td>Imagen.jpg</td>
            </tr>
            
            </tbody>
        </table>
        </div>
    </div>
        
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-sm-2 col-md-3">
                    <img class="footer-logo" src="./img/Logo SweetBaby2.png" alt="">
                </div>
                <div class="col-lg-3 col-sm-2 col-md-3">
                    <h3>Contactanos</h3>
                    <ul>
                        <li><i class="fa fa-phone"></i>  +54 11 2250 5577</li>
                        <li><i class="fab fa-whatsapp"></i>   1122505577</li>
                        <li><i class="fa fa-envelope"></i> ventas@sweetbaby.com</li>    
                        <li><i class="fa fa-map-marker"></i> Uspallata 2953, C.A.B.A.</li>
                    </ul>
                    <span>Lunes a Jueves: 10 a 19hs. Viernes: 10 a 16hs. Domingo: 13.30 a 19hs. Feriados: consultar</span>
                </div>
                <div class="col-lg-2 col-sm-2 col-md-2">
                    <h3>Síguenos</h3>
                    <p>
                        <a href="#">
                            <img src="./img/face.png" alt="face" width="40" height="40">&nbsp;
                        </a>
                        <a href="#">
                            <img src="./img/insta-1.png" alt="insta" width="40" height="40">
                        </a>
                    </p>   
                </div>
                <div class="col-lg-4 col-sm-2 col-md-3">
                    <h3>Suscribete a nuestro Newsletter</h3>
                    <p>Recibí todas las novedades de eventos y promociones</p>
                    <div class="subscribe">
                        <div class="input-box">
                           <input type="text" name="email" id="newsletter" title="Suscríbase a nuestro boletín de noticias" class="input-text required-entry validate-email">
                        </div>
                        <div class="actions">
                            <button type="submit" title="Suscribirse" class="button">
                                <span>
                                    <span>Suscribirse</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>                
            </div>            
        </div>
    </footer>
        

    <script defer src="../../fontawesome-free-5.13.0-web/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    
</body>
</html>